html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.main-bkg-dark {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjkiIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMTIzIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
}

.main-bkg {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjkiIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMTEyMjMzMDEiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjUwMCIgaGVpZ2h0PSI1MDAiIGZpbHRlcj0idXJsKCNuKSIgb3BhY2l0eT0iMC40Ij48L3JlY3Q+Cjwvc3ZnPg==");
}

body {
    background: #fefefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.svg-icon {
    width: 14px;
    height: 14px;
    margin: auto 0;
    path {
        fill: #b2b2b2;
        stroke: #848484;
        stroke-width: .7;
    }
}

$space: .4rem;
$hspace: $space / 2;

#app {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: $space * 1.4;
    padding: $space * 4;
    margin: 0 auto;
    max-width: 500px;
}

/* Main Forms */

$caption-bdr: #959595;
$caption-bkg: #effffb;
$form-bkg: #f8f8f8;
$form-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);

.caption_label {
    position: absolute;
    top: -1.4em;
    right: $space;
    height: 24px;

    .caption_span {
        background-color: $caption-bkg;
        border: 1px solid $caption-bdr;
        border-radius: 3px;
        font-size: .7rem;
        padding: .1em $space .2em;
    }
}

.main-forms {
    display: grid;
    row-gap: 1.8em;
}

.train-form {
    position: relative;
    padding: $space;
    outline: 1px solid $caption-bdr;
    box-shadow: $form-shadow;
    background-color: $form-bkg;
    //background-color: hsla(210, 100%, 86%, 0.349);

    $field-width: 7rem;
    
    .form_body {
        display: grid;
        grid-template-columns: minmax($field-width, min-content) auto;
        column-gap: $space;
    
        .form-fields {
            display: grid;
            row-gap: .2em;
        }
        
        input[type=text], input[type=password] {
            padding: $space;
            max-width: $field-width;
            font-size: .7rem;
            background-color: #fdf5ff;
            border: 1px solid #909090;
            border-radius: 3px;

            &::placeholder {
                font-size: .7rem;
            }
        }

        input[type=text].username {
            margin-bottom: $hspace;
            background-color: #f7fdf7;
        }
    }
    
    .form-right {
        display: grid;
        align-content: start;
    
        button {
            padding: .3em;
            margin-bottom: $hspace;
        }
    }
    
    .form-options {
        margin-top: $space;
        padding-top: $hspace;
    
        label {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: $space;
            align-items: center;
            font-size: .75rem;
            user-select: none;
        }
    }
}

/* Data Forms */

.data-forms {
    position: relative;
    padding: $space;

    border: 1px dotted gray;
    background-color: $form-bkg;
    // background-color: hsl(191, 100%, 97%);
}

/* Fake caption form */

.fake-form {
    position: absolute;
    left: $space;
    top: -21px;
    padding: 2px $hspace 2px;
    font-size: .7rem;

    display: grid;
    grid-auto-flow: column;
    column-gap: 4px;
    cursor: default;

    background-color: $caption-bkg;
    border: 1px solid $caption-bdr;
    border-radius: 3px;

    input {
        width: 2rem;
        height: 12px;
        font-size: 6px;
        padding: 0;
        cursor: default;
    }
}

/* Fake form data */

$form-data-bkg: #a7f2ff63;

.vault-form {
    position: relative;
    margin-top: $space * 3;
    padding: $space;
    outline: 1px solid $caption-bdr;
    box-shadow: $form-shadow;
    background-color: $form-data-bkg;

    .vault-form_row {
        margin-bottom: $hspace;

        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr min-content min-content;
        column-gap: $hspace;

        .i-what-bkg {
            display: grid;
            grid-template-columns: auto 1fr;
            cursor: pointer;

            & > div {
                border-right: 1px solid #c8c8c8;
                background-color: rgb(233, 233, 233);
                border-radius: 3px 0 0 3px;
                display: grid;
                justify-content: center;
            }

            .svg-icon {
                width: 26px;
                path {
                    fill: #3d0046;
                    stroke: #3d0046;
                    stroke-width: .7;
                }
            }

            input {
                min-width: 2rem;
                border: none;
                border-radius: 0 3px 3px 0;
                padding-left: $space;
            }
        }

        label {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            font-size: .7rem;
            user-select: none;
            
            color: $caption-bdr;
            border: 1px dotted $caption-bdr;
            border-radius: 3px;
            padding: .2em;
        }
            
        .vault-form_del {
            width: 1.2em;
            line-height: 1.2em;
            font-size: 1.3em;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            user-select: none;
        
            color: $caption-bdr;
            border: 1px dotted $caption-bdr;
            border-radius: 3px;
        }
    }

    .df-buttons {
        display: flex;
        margin-top: $space;
        justify-content: flex-end;

        .caption_btn {
            padding: $hspace $space;
            margin-left: $hspace;
            cursor: pointer;
        }
    }
}

/* Vault */

.vault-container {
    position: relative;
    margin-top: $space * 4;
    padding: $space;
    outline: 1px solid $caption-bdr;
    box-shadow: $form-shadow;
    background-color: $form-data-bkg;
    user-select: none;

    .vault_row {
        display: grid;
        grid-template-columns: 1fr min-content;
        align-items: center;
        margin-bottom: $hspace;

        .vr_text {
            font-size: .7rem;
            padding: $hspace;
            height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border: 1px solid $caption-bdr;
            border-radius: 3px;

            background-color: #ffffff7c;
        }

        .vr_buttons {
            display: none;
            
            & > div {
                display: flex;
            }
        }

        &:hover .vr_buttons {
            display: block;
        }

        .vr_button {
            height: 26px;
            margin-left: $hspace;
            font-size: 12px;
            padding: 0 $space;
            text-align: center;

            cursor: pointer;
            user-select: none;
        
            border: 1px solid $caption-bdr;
            border-radius: 3px;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .vr_button:first-child {
            width: 26px;
            font-size: 22px;
            padding: inherit;
            background-color: #ff6a59;
            border-color: #d80000;
            color: white;
        }
    }
}

/* Done */