html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.main-bkg-dark {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjkiIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMTIzIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
}

.main-bkg {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjkiIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMTEyMjMzMDEiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjUwMCIgaGVpZ2h0PSI1MDAiIGZpbHRlcj0idXJsKCNuKSIgb3BhY2l0eT0iMC40Ij48L3JlY3Q+Cjwvc3ZnPg==");
}

body {
  background: #fefefe;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.56rem;
  padding: 1.6rem;
  margin: 0 auto;
  max-width: 500px;
}

/* Main Forms */
.caption_label {
  position: absolute;
  top: -1.4em;
  right: 0.4rem;
  height: 24px;
}

.caption_label .caption_span {
  background-color: #effffb;
  border: 1px solid #959595;
  border-radius: 3px;
  font-size: .7rem;
  padding: 0.1em 0.4rem 0.2em;
}

.main-forms {
  display: grid;
  row-gap: 1.8em;
}

.train-form {
  position: relative;
  outline: 1px solid #959595;
  background-color: #f8f8f8;
  padding: 0.4rem;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.train-form .form_body {
  display: grid;
  grid-template-columns: minmax(7rem, min-content) auto;
  column-gap: 0.4rem;
}

.train-form .form_body .form-fields {
  display: grid;
  row-gap: .2em;
}

.train-form .form_body input[type=text], .train-form .form_body input[type=password] {
  padding: 0.4rem;
  max-width: 7rem;
  font-size: .7rem;
  background-color: #fdf5ff;
  border: 1px solid #909090;
  border-radius: 3px;
}

.train-form .form_body input[type=text]::placeholder, .train-form .form_body input[type=password]::placeholder {
  font-size: .7rem;
}

.train-form .form_body input[type=text].username {
  margin-bottom: 0.2rem;
  background-color: #f7fdf7;
}

.train-form .form-right {
  display: grid;
  align-content: start;
}

.train-form .form-right button {
  padding: .3em;
  margin-bottom: 0.2rem;
}

.train-form .form-options {
  margin-top: 0.4rem;
  padding-top: 0.2rem;
}

.train-form .form-options label {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.4rem;
  align-items: center;
  font-size: .75rem;
  -moz-user-select: none;
       user-select: none;
}

/* Data Forms */
.data-forms {
  position: relative;
  padding: 0.4rem;
  border: 1px dotted gray;
  background-color: #f0fcff;
}

/* Fake caption form */
.fake-form {
  position: absolute;
  left: 0.4rem;
  top: -21px;
  padding: 2px 0.2rem 2px;
  font-size: .7rem;
  display: grid;
  grid-auto-flow: column;
  column-gap: 4px;
  cursor: default;
  background-color: #effffb;
  border: 1px solid #959595;
  border-radius: 3px;
}

.fake-form input {
  width: 2rem;
  height: 12px;
  font-size: 6px;
  padding: 0;
  cursor: default;
}

/* Fake form data */
.vault-form {
  position: relative;
  margin-top: 1.2rem;
  padding: 0.4rem;
  background-color: #6501a0;
}

.vault-form .vault-form_row {
  margin-bottom: 0.2rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content min-content;
  column-gap: 0.2rem;
}

.vault-form .vault-form_row input {
  min-width: 2rem;
}

.vault-form .vault-form_row label {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  font-size: .7rem;
  -moz-user-select: none;
       user-select: none;
  color: #959595;
  border: 1px dotted #959595;
  border-radius: 3px;
  padding: .2em;
}

.vault-form .vault-form_row .vault-form_del {
  width: 1.2em;
  line-height: 1.2em;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
       user-select: none;
  color: #959595;
  border: 1px dotted #959595;
  border-radius: 3px;
}

.vault-form .caption_btn {
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}

/* Vault */
.vault-container {
  position: relative;
  margin-top: 1.6rem;
  padding: 0.4rem;
  background-color: rgba(0, 217, 255, 0.39);
  -moz-user-select: none;
       user-select: none;
}

.vault-container .vault_row {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
}

.vault-container .vault_row .vault-row_text {
  font-size: .7rem;
  padding: 0.2rem;
  height: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #959595;
  border-radius: 3px;
}

.vault-container .vault_row input {
  background-color: transparent;
  border: 1px dotted #959595;
  border-radius: 3px;
  font-size: .7rem;
}

.vault-container .vault_row .data-form__del {
  width: 1.4em;
  line-height: 1.2em;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-left: .2em;
  color: #959595;
  border: 1px dotted #959595;
  border-radius: 3px;
  -moz-user-select: none;
       user-select: none;
}

/* Done */
/*# sourceMappingURL=style.css.map */