* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fefefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.svg-icon {
    width: 10px;
    height: 10px;
    margin: auto 0;
    path {
        fill: #b2b2b2;
        stroke: #848484;
        stroke-width: .7;
    }
}

$space: .4rem;
$hspace: $space / 2;

$caption-bdr: #959595;
$caption-bkg: #effffb;
$form-bkg: #f8f8f8;
$form-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

$data-form-bkg: #a7f2ff63;
$data-form-bkg-solid: #74bcdc; // yarn: #2188b6
$data-form-bkg-semi: #74bcdc8c; // yarn: #2188b6
$input-height: 26px;

.app {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: $space * 1.4;
    padding: $space * 4;
    margin: 0 auto;
    max-width: 570px;

    .user-forms {
        .user-form:not(:first-child) {
            margin-top: 1.8rem;
        }
    }

    .data-forms {
        position: relative;
        padding: $space $space * 2;
    
        border: 1px dotted gray;
        //background-color: $form-bkg;
        background-color: hsl(191, 100%, 97%);
    }
}

/* Shared utils */

.main-bkg-dark {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjkiIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMTIzIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
}

.main-bkg {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjkiIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMTEyMjMzMDEiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjUwMCIgaGVpZ2h0PSI1MDAiIGZpbHRlcj0idXJsKCNuKSIgb3BhY2l0eT0iMC40Ij48L3JlY3Q+Cjwvc3ZnPg==");
}

.caption_label {
    position: absolute;
    top: -1.4em;
    right: $space;
    height: 24px;

    .caption_span {
        background-color: $caption-bkg;
        border: 1px solid $caption-bdr;
        border-radius: 3px;
        font-size: .7rem;
        padding: .1em $space .2em;
    }
}

.inline-btn {
    height: $input-height;
    margin-left: $hspace;
    font-size: 12px;
    padding: 0 $space;
    text-align: center;

    cursor: pointer;
    user-select: none;

    border: 1px solid $caption-bdr;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.inline-btn_cross {
    width: $input-height;
    font-size: 22px;
    padding: inherit;
    background-color: #ff6a59;
    border-color: #d80000;
    color: white;
}

.checkboxes {
    label {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: $space;
        align-items: center;
        font-size: .75rem;
        user-select: none;
    }
}

/* App header */

header {
    margin-bottom: .4rem;
    padding: 1rem;
    padding-left: 1.6rem;
    font-size: 1.4rem;
    font-weight: 100;
    color: white;
    background-color: $data-form-bkg-semi;
    text-shadow: 2px 3px darken($data-form-bkg-solid, 5%); //text-shadow: 2px 3px 4px darken($data-form-bkg-solid, 5%);
    box-shadow: $form-shadow;
}

/* USER FORMS */

.user-form {
    position: relative;
    padding: $space;
    outline: 1px solid $caption-bdr;
    box-shadow: $form-shadow;
    background-color: $form-bkg;
    //background-color: hsla(210, 100%, 86%, 0.349);

    $field-width: 7rem;
    
    .uf_body {
        display: grid;
        grid-template-columns: minmax($field-width, min-content) auto;
        column-gap: $space;

        .username-bkg {
            height: $input-height;
            margin-bottom: $hspace;
        }
    
        // .uf-fields {
        //     display: grid;
        //     row-gap: .2em;
        // }

        $input-usr-bkg: #f7fdf7;
        $input-psw-bkg: #fefaff;
        
        input[type=text], input[type=password] {
            height: $input-height;
            max-width: $field-width;
            margin-bottom: $hspace;
            padding: $hspace;
            font-size: .7rem;
            background-color: $input-psw-bkg;
            border: 1px solid $caption-bdr;
            border-radius: 3px;

            &::placeholder {
                font-size: .7rem;
            }
        }

        input[type=text].username {
            background-color: $input-usr-bkg;
        }
    }
    
    .uf_body_right {
        display: grid;
        align-content: start;
    
        button {
            height: $input-height;
            padding: 0 .3em;
            margin-bottom: $hspace;
        }
    }
    
    .uf_options {
        margin-top: $space;
        padding-top: $hspace;
    }
}

/* DATA FORMS: Fake caption form */

.fake-form {
    position: absolute;
    left: $space;
    top: -21px;
    padding: 2px $hspace 2px;
    font-size: .7rem;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 4px;
    cursor: default;

    background-color: $caption-bkg;
    border: 1px solid $caption-bdr;
    border-radius: 3px;

    input {
        width: 2rem;
        height: 12px;
        font-size: 6px;
        padding: 0;
        cursor: default;
    }
}

/* DATA FORMS: Fake form data */

.data-form {
    position: relative;
    margin-top: $space * 3;
    padding: $space;
    outline: 1px solid $caption-bdr;
    box-shadow: $form-shadow;
    background-color: $data-form-bkg;

    .df_row {
        margin-bottom: $hspace;

        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr min-content min-content;

        .i-what-bkg {
            display: grid;
            grid-template-columns: auto 1fr;
            border: 1px solid $caption-bdr;
            border-radius: 3px;
            cursor: pointer;

            & > div {
                border-right: 1px solid #c8c8c8;
                background-color: rgb(233, 233, 233);
                border-radius: 3px 0 0 3px;
                display: grid;
                justify-content: center;
            }

            .svg-icon {
                width: 26px;
                path {
                    fill: #7c7c7c;
                    stroke: none;
                }
            }

            input {
                height: $input-height - 2px; // i.e. wo/ border
                padding-left: $space;
                min-width: 2rem;
                border: none;
                border-radius: 0 3px 3px 0;
            }
        }

        .df_row_actions {
            display: none;
        }

        &:hover .df_row_actions {
            display: block;
        }
    }

    .df-actions {
        display: flex;
        margin-top: $space;
        justify-content: flex-end;
        //white-space: nowrap; // to always have single line

        .caption_btn {
            padding: $hspace $space;
            margin-left: $hspace;
            cursor: pointer;
        }
    }
}

/* DATA FORMS: Vault */

.vault-form {
    position: relative;
    margin-top: $space * 4;
    padding: $space;
    outline: 1px solid $caption-bdr;
    box-shadow: $form-shadow;
    background-color: $data-form-bkg;
    user-select: none;

    .vf_row {
        display: grid;
        grid-template-columns: 1fr min-content;
        align-items: center;
        margin-bottom: $hspace;

        .vr_text {
            height: $input-height;
            padding: $hspace;
            padding-top: $hspace + .1rem; // move down due to the height of the lock icon height
            font-size: .7rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            border-radius: 3px;
            border: 1px solid $caption-bdr;
            background-color: #ffffff7c;
        }

        .vr_actions {
            display: none;
            
            & > div {
                display: flex;
            }
        }

        &:hover .vr_actions {
            display: block;
        }
    }
}

// .forms-selector {
// }

/* Done */