html {
    box-sizing: border-box;
}

body, * {
    margin: 0;
    padding: 0;
}

body {
    background: #fefefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* App */

#app {
    display: grid;
    grid-template-columns: auto 1fr;
    /* justify-content: space-between; */
}

/* Main Forms */

.pc-form__container {
    position: relative;
    margin: 0 .5em;
    margin-top: 1.4em;
}

.pc-form__container > .label {
    position: absolute;
    left: .4em;
    top: -.8em;
    padding: 0 .2em .2em;
    font-weight: bold;
    color: rgb(0, 78, 0);
    border: 1px solid rgb(134, 114, 0);
    border-radius: .2em;
    background-color: #fffdda;
    cursor: default;
}

.pc-form {
    display: grid;
    padding: 1.4em .4em .4em;
    border: 1px dotted gray;
    background-color: hsla(209, 100%, 86%, 0.561);
}

.form-username {
    height: 1.6em;
    display: grid;
    padding-bottom: 1em;
}

.form-fields {
    display: grid;
}

input[type=text], input[type=password] {
    padding: .4em;
}

.pc__buttons {
    margin: .4em 0 0;
    display: grid;
    justify-content: right;
}
.pc__buttons__reveal {
    color: hsl(0, 0%, 70%);
    font-size: 1em;
}

.pc__buttons button {
    padding: .4em;
}

.form-options {
    margin-top: .4em;
    padding-top: .2em;
    border-top: 1px solid hsla(210, 23%, 59%, 0.5);
}

.form-options label, .pm-test-data label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    font-size: .8em;
    user-select: none;
}

/* Data Forms */

.data-forms {
    position: relative;
    margin-top: 1.4em;
    background-color: hsl(120, 100%, 99%);
    border: 1px dotted gray;
    max-width: 22em;

    display: grid;
}

.data-form__label {
    cursor: default;
}

.data-form__label, .data-form__add, .data-form__2Valut {
    position: absolute;
    left: .4em;
    top: -.8em;
    padding: 0 .2em .2em;
    font-weight: bold;
    color: rgb(0, 78, 0);
    border: 1px solid rgb(134, 114, 0);
    border-radius: .2em;
    background-color: #fffdda;
}

.data-form__add {
    left: initial;
    top: -.6em;
    right: .4em;

    width: 1.4em;
    height: 1.2em;
    line-height: 1.2em;
    font-size: 1.3em;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
}

.data-form__2Valut {
    left: initial;
    top: -.6em;
    right: 2em;

    width: 2em;
    height: 1.2em;
    line-height: 1.2em;
    font-size: 1.3em;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
}

.data-form__label input {
    width: 1.1em;
    height: .7em;
    font-size: .3em;
    padding: 0;
    cursor: default;
}

.pm-test-data {
    margin: 1em .4em 0;
    display: grid;
}

/* Row */

.pm-test-data__row {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    margin-bottom: .2em;
}

.pm-test-data label {
    font-size: .8em;
    color: hsl(0, 0%, 70%);
    border: 1px dotted hsl(0, 0%, 70%);
    border-radius: 3px;
    padding: .2em;
    margin-left: .4em;

    user-select: none;
}

.pm-test-data__row input {
    min-width: 2em;
}

.data-form__del {
    width: 1.4em;
    line-height: 1.2em;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    margin-left: .2em;

    color: hsl(0, 0%, 70%);
    border: 1px dotted hsl(0, 0%, 70%);
    border-radius: 3px;

    user-select: none;
}

/* Vault */

.vault-container {
    padding: 0 .4em;
    user-select: none;
    align-self: end;
    padding-bottom: .4em;
}

.vault-container__row {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
}

.vault-container__row input {
    background-color: transparent;
    border: 1px dotted hsl(0, 0%, 70%);
    border-radius: 3px;
}

/* Done */