<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>D16 - Password Change Test v 1.3</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="main-bkg">
    
    <script type="text/x-template" id="test-template">
        <div class="user-form">
            <div class="caption_label"><span class="caption_span">{{formLabel}}</span></div>

            <div class="uf_body">
                <div class="uf_body_left">
                    <form :id="formId">
                        <div class="username-bkg">
                            <input
                                v-if="watching.options.hasUsername"
                                type="text"
                                name="username-0"
                                class="username"
                                placeholder="Username"
                                v-model="watching.field_username"
                            >
                        </div>
                        <div class="uf-fields">
                            <input
                                v-for="(field, index) of watching.fields" :key="index"
                                :type="fieldType(field)"
                                :name="field.name"
                                :id="field.domid"
                                :data-ftype="field.dataFtype"
                                :autocomplete="field.autocomplete"
                                :placeholder="field.placeholder"
                                :title="field.value"
                                v-model="field.value"
                            >
                        </div>
                    </form>
                </div>
                <div class="uf_body_right">
                    <button @click.prevent="onFillRightValues">Fill right&nbsp;&nbsp;&nbsp;</button>
                    <button @click.prevent="onFillWrongValues" v-if="!formLogin">Fill wrong</button>
                    <button @click.prevent="onClearValues">Clear</button>
                </div>
            </div>

            <div class="uf_options checkboxes">
                <label><input type="checkbox" v-model="watching.options.hasUsername">Has username</label>
                <label :title="secondChkHint"><input type="checkbox" v-model="watching.options.hasLogin" @click="onSecondClick">{{secondChkText}}</label>
                <label><input type="checkbox" v-model="watching.options.showPsws">Reveal</label>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="data-forms">
        <div class="data-forms">

            <div class="fake-form">
                <span>Fake login</span>
                <input type="text" id="maxz-fakename" value="for-dp" tabIndex="-1" />
                <input  id="maxz-fakepass" value="for-dp2" tabIndex="-1" /> <!--removed so far: type="password" -->
            </div>

            <div class="data-form">
                <div class="caption_label"><span class="caption_span">Fake login data</span></div>
                <form id="pm-tm-pchange-data">
                    <div class="df_row" v-for="(field, index) of fields" :key="field.idx">
                        <div class="i-what-bkg">
                            <div @click="field.password = !field.password">
                                <i-what :psw="field.password"></i-what>
                            </div>
                            <input type="text" v-model="field.value" />
                        </div>
                        <div class="df_row_actions">
                            <button class="inline-btn inline-btn_cross" @click="onDelField(field.idx)">&#x00d7;</button>
                        </div>
                    </div>
                    <div class="df-actions">
                        <button @click.prevent="onAddField" class="caption_btn data-form__add" tabIndex="-1" title="Add new data field">Add field</button>
                        <button @click.prevent="onAddToVault" class="caption_btn data-form__2Valut" tabIndex="-1" title="Store to Vault">Add fields to vault</button>
                    </div>
                </form>
            </div>
            
            <div class="vault-form">
                <div class="caption_label"><span class="caption_span">Predefined creds</span></div>
                <div class="vf_row" v-for="item of vault" :key="item.idx">
                    <div class="vr_text" title="Vault item">{{vaultItemDispText(item.data)}}</div>
                    <div class="vr_actions">
                        <div>
                            <button class="inline-btn inline-btn_cross" @click.prevent="onDelFromVault(item.idx)" title="Remove from Vault">&#x00d7;</button>
                            <button class="inline-btn" @click.prevent="onSetFieldsFromVault(item.data)" title="Copy from Vault">Apply</button>
                        </div>
                    </div>
                </div>
            </div>

            <forms-selector :userForms="userForms"></forms-selector>
        </div>
    </script>

    <script type="text/x-template" id="forms-selector">
        <div class="vault-form forms-selector">
            <div class="caption_label"><span class="caption_span">Forms selector</span></div>
            <div class="checkboxes">
                <label v-for="form of userForms" :key="form.name">
                    <input type="checkbox" v-model="form.show">{{form.disp}}
                </label>
            </div>
        </div>
    </script>

    <div id="app">
        <header>
            <div>Password Manager Tests</div>
        </header>
        <main class="app">
            <div class="user-forms">
                <user-form v-for="form of userForms" :key="form.name" :form-name="form.name" v-if="form.show">
                </user-form>
            </div>
            <data-forms :user-forms="userForms"></data-forms>
        </main>
    </div>

    <div class="scripts">
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <!-- <script src="https://unpkg.com/@vue/composition-api/dist/vue-composition-api.umd.js"></script> -->
    
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script> -->
        <!-- <script src="https://unpkg.com/@vue/composition-api/dist/vue-composition-api.umd.min.js"></script> -->
    
        <script src="src/core/vue.js"></script>
        <script src="src/core//vue-composition-api.umd.js"></script>
    
        <!-- <script src="src/core/vue.min.js"></script> -->
        <!-- <script src="src/core//vue-composition-api.umd.min.js"></script> -->
    
        <script src="src/index.js"></script>
    </div>
</body>
</html>
