<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>D16 - Password Change Test v 1.3</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <script type="text/x-template" id="test-template">
            <div class="train-form">
                <div class="caption_label"><span class="caption_span">{{formLabel}}</span></div>

                <form class="form_body" :id="formId">
                    <div class="form-left">
                        <div>
                            <input v-if="watching.options.hasUsername" type="text"
                                class="username"
                                placeholder="Username"
                                name="username-0"
                                :v-model="watching.field_username"
                            >
                        </div>
                        <div class="form-fields">
                            <input v-for="(field, index) of watching.fields" :key="index"
                                :type="fieldType(field)"
                                :placeholder="field.placeholder"
                                :name="field.name"
                                :autocomplete="field.autocomplete"
                                :data-ftype="field['data-ftype']"
                                v-model="field.value"
                                :title="field.value"
                            >
                        </div>
                    </div>
                    <div class="form-right">
                        <button name="utility-y" @click.prevent="fillValues">Fill-in</button>
                        <button name="utility-x" @click.prevent="clearValues">Clear</button>
                    </div>
                </form>

                <div class="form-options">
                    <label><input type="checkbox" name="utility-a" v-model="watching.options.hasUsername"> Add username field</label>
                    <label><input type="checkbox" name="utility-b" v-model="watching.options.hasLogin"> Form has corresponding login</label>
                    <label><input type="checkbox" name="utility-c" v-model="watching.options.fillInvalid"> Fill-in with invalid credentials</label>
                    <label><input type="checkbox" name="utility-d" v-model="watching.options.showPsws"> Reveal</label>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="hidden-data-form">

            <div class="data-forms">

                <form class="data-form" id="pm-tm-pchange-data">
                    
                    <div class="form-title data-form__label">
                        <div class="caption_label2">PM Test Data
                            <input type="text" id="pm-tm-pchange-fake-name" value="for-dp" tabIndex="-1" />
                            <input type="password" id="pm-tm-pchange-fake-pass" value="for-dp2" tabIndex="-1" />
                        </div>
                    </div>

                    <div class="group-caption">
                        <button @click.prevent="onAddToVault" class="caption_btn data-form__2Valut" tabIndex="-1" title="Store to Vault">Add to vault</button>
                        <button @click.prevent="onAddField" class="caption_btn data-form__add" tabIndex="-1" title="Add new data field">Add field</button>
                    </div>
                    <div class="pm-test-data">
                        <div class="pm-test-data__row" v-for="(field, index) of fields" :key="field.idx">
                            <input class="pm-tm-pchange-value" type="text" v-model="field.value" />
                            <label><input class="pm-tm-pchange-pass" type="checkbox" v-model="field.password" tabIndex="-1">Password</label>
                            <div class="data-form__del" @click="onDelField(field.idx)">-</div>
                        </div>
                    </div>
                </form>

                <div class="vault-container">
                    <form id="pm-tm-vault">
                        <div class="vault-container__row" v-for="item of vault" :key="item.idx">
                            <input type="text" :value="vaultItemDispText(item.data)" disabled title="Vault item">
                            <div class="data-form__del" @click="onDelFromVault(item.idx)" title="Remove from Vault">-</div>
                            <div class="data-form__del" @click="onSetFieldsFromVault(item.data)" title="Copy from Vault">&ShortUpArrow;</div>
                        </div>
                    </form>
                </div>
            </div>

        </script>
    
        <div id="app">
            <div class="main-forms">
                <test-form data-form-id="formA-nn"></test-form>
                <test-form data-form-id="formB-cn"></test-form>
                <test-form data-form-id="formC-cnn"></test-form>
            </div>

            <!-- <button v-on:click="eventParent">Clique me to emit from parent component</button>
            <br />
            <child v-on:event_child="eventChild"></child> -->

            <hidden-data-form></hidden-data-form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="src/index.js"></script>
    </body>
</html>
